{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}

{% block content %}
{% load static %}
<div>
  <div class="section">
    <div class="columns">
      <div class="column is-is-four-fifths">
        <h1 class="title">Inscrição no evento</h1>

        <form class="box" id="form" method="post">
             {% csrf_token %}


            {% for pergunta in form %}
             <div class="field">
                {% if pergunta.campoid.tipocampoid.nome == 'Resposta aberta' %}
                        <label class="field"> {{ pergunta.campoid.conteudo }}</label>
                        <div class="form-group-c">
                            <input class="text input-clean" type="text" name="{{ pergunta.campoid.id }}" placeholder="{{ pergunta.campoid.conteudo }}">
                        </div>
                {% elif pergunta.campoid.tipocampoid.nome == 'Resposta Numérica' %}
                        <label class="field"> {{ pergunta.campoid.conteudo }}</label>
                        <div class="form-group-c">
                            <input class="text input-clean" type="number" name="{{ pergunta.campoid.id }}" placeholder="{{ pergunta.campoid.conteudo }}">
                        </div>
                {% elif pergunta.campoid.tipocampoid.nome == 'RadioBox'%}

                        <div class="form-group-c">
                        <label class="field" > {{ pergunta.campoid.conteudo }}</label>
                        {% for opcao in pergunta.campoid.respostas %}
                            <label class="radio" for="{{ pergunta.campoid.id }}">
                                <input type="radio" class="input-clean" id="{{ pergunta.campoid.id }}" name="{{ pergunta.campoid.id }}" value="{{ opcao }}">
                                    {{ opcao }}
                            </label>
                        {% endfor %}
                        </div>
                {% elif pergunta.campoid.tipocampoid.nome == 'Dropdown' %}
                    <label class="field" for="{{ pergunta.campoid.id }}"> {{ pergunta.campoid.conteudo }}</label>
                    <div class="select is-small">
                      <select name="{{ pergunta.campoid.id }}" id="{{ pergunta.campoid.id }}" >
                        <option selected value="">--Please choose an option--</option>
                          {% for opcao in pergunta.campoid.respostas %}
                            <option name="{{ opcao}}">{{ opcao }}</option>
                          {% endfor %}
                      </select>
                    </div>
                {% elif pergunta.campoid.tipocampoid.nome == 'Pergunta aberta longa' %}
                    <label class="field"> {{ pergunta.campoid.conteudo }}</label>
                      <div class="control">
                        <textarea class="textarea " name="{{ pergunta.campoid.id }}" cols="10" placeholder="{{ pergunta.campoid.conteudo}}"></textarea>
                      </div>

                {% elif pergunta.campoid.tipocampoid.nome == 'Anexo' %}
                   <label class="field"> {{ pergunta.campoid.conteudo }}</label>
                    <div class="file">
                      <label class="file-label">
                        <input class="file-input" type="file" name="{{ pergunta.campoid.id }}">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Escolha um ficheiro..
                          </span>
                        </span>
                      </label>
                    </div>
                {% endif %}
             </div>
            {% endfor %}


        <div class="field is-grouped">
          <div class="form-group-c">
              <input class="button-submit" type='Submit' value='Submit'>
          </div>
        </div>
        </form>    
    </div>
  </div>
 </div>
</div>
{% endblock content%}