{% load static %}

<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
            <img src="{% static 'img/logo.png' %}" alt="Dia Aberto">
        </a>

        <a role="button" class="navbar-burger burger" onclick="onclick_burger(event)" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">

            <a href="{% url 'form-list' %}" class="navbar-item">
                Formulários
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Eventos
                </a>
                <div class="navbar-dropdown">
                    <a href="{% url 'Evento:eventos' %}" class="navbar-item">
                        Todos Eventos
                    </a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'Evento:meus-eventos' %}" class="navbar-item">
                            Meus Eventos
                        </a>
                    {% endif %}
                    <a href="{% url 'Evento:select_type' %}" class="navbar-item">
                        Novo Evento
                    </a>

                    {% if user_tipo == 'gcp' %}
                        <br>
                        <a href="{% url 'Evento:eventos-gerir' %}" class="navbar-item">
                            Gerir Eventos
                        </a>
                    {% endif %}

                </div>
            </div>
            <a href="{% url 'Inscricao:part_list_inscricao' %}" class="navbar-item">
                As minhas Inscrições
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Recursos
                </a>
                <div class="navbar-dropdown">
                    <a href="{% url 'Recurso:recursos' %}" class="navbar-item">Recursos</a>
                    <a href="{% url 'Recurso:componentes' %}" class="navbar-item">Componentes</a>
                </div>
            </div>
        </div>
        <a href="" class="navbar-item">

        </a>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
                {% if user.is_authenticated %}
                    <a href="{% url 'Utilizadores:logout' %}">
                        <div type="button" class="button button-navbar">
                      <span class="icon is-small">
                        <i class="mdi mdi-login-variant"></i>
                      </span>
                            <span>Sair</span>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'Utilizadores:registar' %}">
                        <div type="button" class="button button-navbar">
                      <span class="icon is-small">
                        <i class="mdi mdi-login-variant"></i>
                      </span>
                            <span>Registar</span>
                        </div>
                    </a>
                    <a href="{% url 'Utilizadores:login' %}">
                        <div type="button" class="button button-navbar">
                  <span class="icon is-small">
                    <i class="mdi mdi-login-variant"></i>
                  </span>
                            <span>Entrar</span>
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
</nav>


{% block scripts %}
    <script>
        function detalhes_url_notificacoes(item) {
            var tmp = String(item.id)
            return "#".replace("12345", tmp);
        }
    </script>
    
    <script src="{% static 'notifications/notify.jborders' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    <script>
        $('#dropdown_definicoes').click(function (e) {
            $('#mensagens-dropdown').removeClass('is-active');
        })

        $('#mensagens-dropdown').click(function (e) {
            $('#dropdown_definicoes').removeClass('is-active');
        })

        $('#notificacoes_trigger').click(function (e) {
            $('#dropdown_definicoes').removeClass('is-active');
            $('#mensagens-dropdown').removeClass('is-active');
        })

        function onclick_burger(e) {
            $('#main-navbar > .navbar-menu').toggleClass('is-active');
            $('#dropdown_definicoes').toggleClass('is-right');
            $('#dropdown_definicoes').toggleClass('is-left');
            $('#mensagens-dropdown').toggleClass('is-right');
            $('#mensagens-dropdown').toggleClass('is-left');
        };
    </script>

{% endblock scripts %}