{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}


    <div class="section">
        <div class="columns">
            <div class="column is-is-four-fifths">
                <h1 class="title">Criar Evento</h1>
                {{ type }}
                <form class="box" id="form" method="post">
                    {% csrf_token %}
                    {{ form.media }}

                    {% for campo in campos %}

                        {% if campo.campoid.tipocampoid.id == 1 %}
                            <div class="form-group-c">
                                <label for="nome">{{ campo.campoid.conteudo }}</label>
                                <input name="{{ campo.campoid.id }}" type="text">
                            </div>
                        {% elif campo.campoid.tipocampoid.id == 4 %}
                            <div class="form-group-c">
                                <label for="">{{ campo.campoid.conteudo }}</label>
                                <textarea name="{{ campo.campoid.id }}" cols="30" rows="10"></textarea>
                            </div>
                        {% elif campo.campoid.tipocampoid.id == 6 %}
                            <div class="form-group-c">
                                <label for="">{{ campo.campoid.conteudo }}</label>
                                <input name="{{ campo.campoid.id }}" type="number">
                            </div>
                        {% elif campo.campoid.tipocampoid.id == 7 %}
                            <div class="form-group-c">
                                <label for="">{{ campo.campoid.conteudo }}</label>
                                <input name="{{ campo.campoid.id }}" type="date">
                            </div>
                        {% elif campo.campoid.tipocampoid.id == 2 %}
                            <div class="form-group-c">
                                <label for="">{{ campo.campoid.conteudo }}</label>
                                <div class="radio-label">
                                    {% for escolha in campo.campoid.respostas %}
                                        <label for="tipo">{{ escolha }}</label>
                                        <input type="radio" id="tipo" name="radio" value="{{ escolha }}">
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}

                    <input type='Submit' value='Save'>
                </form>
            </div>
        </div>

    </div>
{% endblock content %}

