{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}

    <h1 class="title">Gerir Eventos</h1>
    <div class="columns">
        <div class="is-three-quarters">
            <table id="example" class="table is-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in eventos %}
                    <tr  data-id="{{ obj.id }}" class="datatable-selector">
                        <td class="td">{{ obj.nome }}</td>
                        <td class="td">{{ obj.estado }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Título</th>
                        <th>Estado</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="column">
            <nav class="panel">
                <p class="panel-heading">
                  Filtros
                </p>
                <div class="panel-block">
                  <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="Search">
                    <span class="icon is-left">
                      <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                  </p>
                </div>
                <a class="panel-block is-active">
  
                  Validado
                </a>
                <a class="panel-block">

                  Logistica Pendente
                </a>
                <a class="panel-block">

                  Aceite
                </a>
                <div class="panel-block">
                  <button class="button is-link is-outlined is-fullwidth">
                    Reset all filters
                  </button>
                </div>
              </nav>
        </div>
    </div>
    



    <script>
        $(document).ready(function () {
        $('#example').DataTable({
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json"
          }
        });
      });



    //   Get event clicable
      const event = document.querySelectorAll('.datatable-selector');
      console.log(event);
      event.forEach(element => {
        element.addEventListener('click', e => {
        let url = `{% url 'Evento:gerir' event_id=123 %}`;
        let id = element.dataset.id;

        // Construct the full URL with "id"
        document.location.href = url.replace('123', id);
      })
      });


    </script>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
{% endblock %}