{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}

    <h1 class="title">Gerir Eventos</h1>
    {% if messages %}
    <article class="message is-success">
        {% for message in messages %}
            <div class="message-header">
                <p>Success</p>
                <button id="close-message" class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body {% if message.tags %} {{ message.tags }} {% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </article>
  {% endif %}
    <div class="columns">
        <div class="is-three-quarters">
            <table id="example" class="table is-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in eventos %}
                    <tr  data-state="{{ obj.estado }}" data-id="{{ obj.id }}" class="datatable-selector">
                        <td class="td">{{ obj.nome }}</td>
                        <td class="td">{{ obj.estado }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Título</th>
                        <th>Estado</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="column">
            <nav class="panel">
              <p class="panel-heading">
                Filtros
              </p>
              <a class="panel-block filter-item">
                Pendente
              </a>
              <a class="panel-block filter-item">

                Validado
              </a>
              <a class="panel-block filter-item">

                Logistica Pendente
              </a>
              <a class="panel-block filter-item">

                Logistica Validada
              </a>
              <a class="panel-block filter-item">

                Submetido
              </a>
              <a class="panel-block filter-item">

                Aceite
              </a>
                <div class="panel-block">
                  <button class="button is-link reset is-outlined is-fullwidth">
                    Reset all filters
                  </button>
                </div>
              </nav>
        </div>
    </div>
    



    <script>
        $(document).ready(function () {
        $('#example').DataTable({
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json"
          },
          
        });
      });



    //   Get event clicable
      const event = document.querySelectorAll('.datatable-selector');
      console.log(event);
      event.forEach(element => {
        element.addEventListener('click', e => {
        let url = `{% url 'Evento:gerir' event_id=123 %}`;
        let id = element.dataset.id;

        // Construct the full URL with "id"
        document.location.href = url.replace('123', id);
      })
      });

      //Get elements
      const items = document.querySelectorAll('.filter-item');
  
      //Get rid of the active background of every element
      const clearActive = function() {
        items.forEach(element => {
          element.classList.remove('is-filter-active');
        })  
      };

      const clearEventsNone = function() {
        event.forEach(e => e.classList.remove('none'));
      }
  
      // Filter element
      const parentEl = document.querySelector('.tbody');
      items.forEach(element => {
        element.addEventListener('click', e => {
          clearActive();
          element.classList.add('is-filter-active');
          clearEventsNone();
          event.forEach(e => {
            const dataState = e.dataset.state;
            if(dataState !== element.innerHTML.trim())
            {
              e.classList.add('none');
            }
            
          })
          
        })
      });
  
      //Reset filter
      const resetBtn = document.querySelector('.reset');
      console.log(resetBtn);
      resetBtn.addEventListener('click', function(e) {
        clearActive();
        clearEventsNone();
      });

      $('#close-message').click(function () {
            let message = $('#close-message').parent().parent();
            message.addClass('is-hidden')
        });


    </script>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
{% endblock %}