{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}
    <h1 class="title">Todos Eventos</h1>
    <div class="columns">

        <div class="is-three-quarters">
            <table id="example" class="table is-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Data</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    {% for obj in eventos %}
                    <tr  data-id="{{ obj.id }}" class="datatable-selector">
                        <td class="td">{{ obj.nome }}</td>
                        <td class="td">{{ obj.horario.datainicial|date:"d/m/Y" }} - {{ obj.horario.datafinal|date:"d/m/Y" }}</td>
                        <td class="td">{{ obj.horario.horainicial|date:"H:i" }} - {{ obj.horario.horafinal|date:"H:i" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Título</th>
                        <th>Data</th>
                        <th>Hora</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="column">
            <nav class="panel">
                <p class="panel-heading">
                  Filtros
                </p>
                {% for tipo in tipos %}
                <a class="panel-block filter-item">
                  {{tipo.nome}}
                </a>
                {% endfor %}
                <div class="panel-block">
                  <button class="button reset is-link is-outlined is-fullwidth">
                    Reset all filters
                  </button>
                </div>
              </nav>
        </div>
    </div>
    



    <script>
        $(document).ready(function () {
        $('#example').DataTable({
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json"
          }
        });
      });



    //   Get event clicable
      const event = document.querySelectorAll('.datatable-selector');
      event.forEach(element => {
        element.addEventListener('click', e => {
        let url = `{% url 'Evento:view-event' event_id=123 %}`;
        let id = element.dataset.id;

        // Construct the full URL with "id"
        document.location.href = url.replace('123', id);
      })
      });




    //Get elements
    const items = document.querySelectorAll('.filter-item');

    //Get rid of the active background of every element
    const clearActive = function() {
      items.forEach(element => {
        element.classList.remove('is-filter-active');
      })  
    };


    //CSRF Token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    // Filter element
    const parentEl = document.querySelector('.tbody');
    items.forEach(element => {
      element.addEventListener('click', e => {
        clearActive();
        element.classList.add('is-filter-active');
        $.ajax({
          url: '/Evento/ajax/',
          type: 'POST',
          data: {
            myData: element.textContent.trim()
          },        
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          },
          success: function(data) {
            const eventos = data.eventos;
            parentEl.innerHTML = "";
            //Populate DOM
            eventos.forEach(evento => {
              const markUp = `
                    <tr  data-id="" class="datatable-selector">
                        <td class="td">${evento.nome}</td>
                        <td class="td">${evento.data}</td>
                        <td class="td">${evento.hora_i.substring(0, evento.hora_i.length - 3)} - ${evento.hora_f.substring(0, evento.hora_i.length - 3)}</td>
                    </tr>
              `;
              parentEl.insertAdjacentHTML("afterbegin", markUp);
            })
          },
          error: function (error) {
            console.log(error);
          }
        })
        

      })
    });

    //Reset filter
    const resetBtn = document.querySelector('.reset');
    resetBtn.addEventListener('click', function(e) {
      $.ajax({
          url: '/Evento/ajax/',
          type: 'POST',
          data: {
            myData: "reset"
          },        
          beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          },
          success: function(data) {
            const eventos = data.eventos;
            clearActive();
            parentEl.innerHTML = "";
            //Populate DOM
            eventos.forEach(evento => {
              const markUp = `
                    <tr  data-id="" class="datatable-selector">
                        <td class="td">${evento.nome}</td>
                        <td class="td">${evento.data}</td>
                        <td class="td">${evento.hora}</td>
                    </tr>
              `;
              parentEl.insertAdjacentHTML("afterbegin", markUp);
            })
          },
          error: function (error) {
            console.log(error);
          }
        })
    });

    </script>
{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
{% endblock %}