{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}
    <div>
        <div class="section">
            <div class="columns">
                <div class="column ">
                    <h1 class="title">Gerir - <a href="{% url 'Evento:view-event' event_id=evento.id %}">{{ evento.nome }}</a></h1>
                    <h2 class="sub-title">Estado: {{ evento.estado }}</h2>
                </div>

            </div>


            <section class="pedido ">
                <h2 class="sub-title">Dados do evento proposto</h1>
                
                {% for pergunta in perguntas %}
                    {% for resposta in respostas %}

                        {% if pergunta.campoid == resposta.campoid %} 
                        <div class="block mt-3">
                            <p class="pergunta">{{pergunta.campoid.conteudo}}</p>
                            <p class="resposta">{{resposta.conteudo}}</p>
                        </div>
                        {% endif %}

                    {% endfor %}

                {% endfor %}

            </section>

            <div class="columns is-multiline is-space-between mt-5">

                <div class="column is-3">
                    {# //Inscricoes Rescursos Logistica#}
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header">
                            <a class="mx-auto" href="{% url 'Inscricao:prop_list_inscricao' eventoid=id %}">
                            <p class="card-header-title is-centered">
                                    Inscricoes
                            </p>
                            </a>
                        </header>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header">
                            <a class="mx-auto" href="{% url 'Recurso:recursos-1' my_id=evento.id %}">
                            <p class="card-header-title is-centered">
                                    Recursos
                            </p>
                            </a>
                        </header>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header">
                            <a class="mx-auto" href="{% url 'Inscricao:consultar_checkins' eventoid=id %}">
                            <p class="card-header-title is-centered">
                                    Check-ins
                            </p>
                            </a>
                        </header>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header">
                            <a class="mx-auto" href="{% url 'Feedback:list_feedback' eventoid=id %}">
                            <p class="card-header-title is-centered">
                                    Feedback
                            </p>
                            </a>
                        </header>
                    </div>
                </div>

                {% if evento.estado == 'Pendente'%}

                <div class="column is-3">
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header card-header-success">
                            <a class="mx-auto" href="{% url 'Evento:validar-evento' event_id=id %}">
                            <p class="card-header-title is-centered">
                                    Validar Evento
                            </p>
                            </a>
                        </header>
                    </div>
                </div>

                <div class="column is-3">
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header card-header-error">
                            <a class="mx-auto" href="{% url 'Evento:recusar-evento' event_id=id %}">
                            <p class="card-header-title is-centered">
                                    Recusar Evento
                            </p>
                            </a>
                        </header>
                    </div>
                </div>

                {% elif evento.estado == 'Logistica Pendente'%}

                <div class="column is-3">
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header">
                            <a class="mx-auto" href="{% url 'Evento:view-logistic' event_id=id %}">
                            <p class="card-header-title is-centered">
                                    Logísticas
                            </p>
                            </a>
                        </header>
                    </div>
                </div>



                {% elif evento.estado == 'Submetido'%}

                <div class="column is-3">
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header card-header-success">
                            <a class="mx-auto" href="{% url 'Evento:evento-insc' event_id=id %}">
                            <p class="card-header-title is-centered">
                                    Aceitar Evento
                            </p>
                            </a>
                        </header>
                    </div>
                </div>

                {% endif %}
            </div>

        </div>
    </div>

    </div>

{% endblock content %}