{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}
    <div>
        <div class="section">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Gerir - {{ evento.nome }}</h1>
                </div>

            </div>
            <div class="columns is-multiline is-space-between">
                <div class="column is-3">
                    {# //Inscricoes Rescursos Logistica#}
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header">
                            <a class="mx-auto" href="">
                            <p class="card-header-title is-centered">
                                    Inscricoes
                            </p>
                            </a>
                        </header>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header">
                            <a class="mx-auto" href="">
                            <p class="card-header-title is-centered">
                                    Recursos
                            </p>
                            </a>
                        </header>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card" style="min-height: 10px;">
                        <header class="card-header">
                            <a class="mx-auto" href="{% url 'Evento:view-logistic' event_id=id %}">
                            <p class="card-header-title is-centered">
                                    Logistica
                            </p>
                            </a>
                        </header>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

{% endblock content %}