{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}
        {% for obj in eventos %}
        <div class="modal my-modal modal-{{obj.id}}">
          <div class="modal-background"></div>
          <div class="modal-content">
            {% if obj.estado == 'Validado' %}
              <div class="container-modal">
                <h3 class="modal-title mb-3">O evento foi validado. Para continuar o processo, é necessario adicionar a logistica. Apos todos os pedidos forem adicionados, favor submeter logistica.</h3>

                <div class="buttons">
                  <a class="button is-dark" href=
                  "{% url 'Evento:create-event2' event_id=obj.id %}">
                      Adicionar Logistica
                  </a>
                  <a class="button is-success" href=
                          "{% url 'Evento:submit-logistic' event_id=obj.id %}">
                      Submeter Logistica
                  </a>
                </div>
              </div>
          {% elif obj.estado == 'Pendente' %}
              <div class="container-modal">
                <a class="button is-dark" href=
                "{% url 'Evento:edit-event' event_id=obj.id %}">
                  Editar Evento
                </a>
                <a class="button is-danger button-cancel" href=
                "#">
                  Cancelar Evento
                </a>
              </div>

              <div class="cancel-remainder hidden">
                Tem deseja que cancelar o evento?
                <a class="button is-dark " href=
                "{% url 'Evento:delete-event' event_id=obj.id %}">
                  Cancelar Evento
                </a>
                <a class="button is-danger button-voltar" href=
                "#">
                  Voltar
                </a>
              </div>

              

          {% elif obj.estado == 'Logistica Pendente' %}
          <div class="container-modal">
            <a class="button is-dark" href=
            "{% url 'Evento:edit-logistica' event_id=obj.id %}">
              Editar Logística
            </a>
            <a class="button is-danger button-cancel" href=
            "#">
              Cancelar Logística
            </a>
          </div>

          <div class="cancel-remainder hidden">
            <a class="button is-dark " href=
            "{% url 'Evento:delete-logistica' event_id=obj.id %}">
              Cancelar Logistica
            </a>
            <a class="button is-danger button-voltar" href=
            "#">
              Voltar
            </a>
          </div>
          {% elif obj.estado == 'Logistica Validada' %}
          <a class="button is-dark " href=
          "{% url 'Evento:submeter-event' event_id=obj.id %}">
            Submeter Evento
          </a>
          {% endif %}
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
      </div>
      {% endfor %}
        <h1 class="title">Meus Eventos</h1>
        <div class="columns">
            <div class="is-three-quarters">
                <table id="example" class="table is-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Estado</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        {% for obj in eventos %}
                        <tr  data-state="{{ obj.estado }}" data-id="{{ obj.id }}" class="datatable-selector">
                            <td class="td">{{ obj.nome }}</td>
                            <td class="td">{{ obj.estado }}</td>
                            <td class="td">{{ obj.horario.datainicial }} {{ obj.horario.horainicial }} - {{ obj.horario.datafinal }} {{ obj.horario.horafinal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Título</th>
                            <th>Estado</th>
                            <th>Data</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="column">
                <nav class="panel">
                    <p class="panel-heading">
                      Filtros
                    </p>
                    <a class="panel-block filter-item">
                      Pendente
                    </a>
                    <a class="panel-block filter-item">
    
                      Validado
                    </a>
                    <a class="panel-block filter-item">
    
                      Logistica Pendente
                    </a>
                    <a class="panel-block filter-item">
    
                      Logistica Validada
                    </a>
                    <a class="panel-block filter-item">
    
                      Submetido
                    </a>
                    <a class="panel-block filter-item">
    
                      Aceite
                    </a>
                    <div class="panel-block">
                      <button class="button is-link reset is-outlined is-fullwidth">
                        Reset all filters
                      </button>
                    </div>
                  </nav>
            </div>
        </div>



    
    
    
        <script>
          $(document).ready(function () {
          $('#example').DataTable({
            "language": {
              "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json"
            }
          });
        });

        


    
    
    
        //   Get event clicable
          const event = document.querySelectorAll('.datatable-selector');
          event.forEach(element => {
            element.addEventListener('click', e => {
              const id = element.dataset.id;
              const modal = document.querySelector(`.modal-${id}`);
                e.preventDefault();
            modal.classList.add("is-active");
          })
          });

          //Listen to delete event
          const buttonCancel = document.querySelectorAll('.button-cancel');
          buttonCancel.forEach(button => {
              button.addEventListener('click', function(e) {
              e.preventDefault();
              const btn = e.target.closest('.button-cancel');
              const container = e.target.closest('.container-modal');
              container.classList.add('hidden');
              container.nextElementSibling.classList.remove("hidden");
            })
          })




          
        

          //Listen to close event in modal
          const close = document.querySelector('.modal-close');
          
          const modals = document.querySelectorAll('.modal');
          modals.forEach(modal => {
            modal.childNodes[5]?.addEventListener('click', function(e) {
              modal.classList.remove('is-active');
            })
          })
  
  
      //Get elements
      const items = document.querySelectorAll('.filter-item');
  
      //Get rid of the active background of every element
      const clearActive = function() {
        items.forEach(element => {
          element.classList.remove('is-filter-active');
        })  
      };

      const clearEventsNone = function() {
        event.forEach(e => e.classList.remove('none'));
      }
  
      // Filter element
      const parentEl = document.querySelector('.tbody');
      items.forEach(element => {
        element.addEventListener('click', e => {
          clearActive();
          element.classList.add('is-filter-active');
          clearEventsNone();
          event.forEach(e => {
            const dataState = e.dataset.state;
            if(dataState !== element.innerHTML.trim())
            {
              e.classList.add('none');
            }
            
          })
          
        })
      });
  
      //Reset filter
      const resetBtn = document.querySelector('.reset');
      console.log(resetBtn);
      resetBtn.addEventListener('click', function(e) {
        clearActive();
        clearEventsNone();
      });
  
      </script>
    {% endblock content %}
    
    {% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
    {% endblock %}