{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}
    <div>
        <div class="section">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Meus Eventos</h1>
                </div>
                <a class="button is-success"
                   href="{% url 'Evento:select_type' %}">
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
                    <span>Novo Evento</span>
                </a>

            </div>
            <div class="columns is-multiline">
                {% for obj in eventos %}
                    <div class="column is-half">
                        <div class="card" style="min-height: 10px;">
                            <header class="card-header has-text-centered">
                                <p class="card-header-title is-centered">
                                    {{ obj.nome }}
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <p><strong>Estado:</strong></p>
                                    <p>{{ obj.estado }}</p>
                                    <br>
                                    <p><strong>Data:</strong></p>
                                    <time datetime="">
                                        {{ obj.horario.datainicial }}
                                        {{ obj.horario.horainicial }}  </time>
                                    -
                                    <time datetime="">
                                        {{ obj.horario.datafinal }} {{ obj.horario.horafinal }} </time>
                                    <br>
                                    <br>
                                    {% if obj.estado == 'Validado' %}
                                        <a class="button is-dark" href=
                                                "{% url 'Evento:create-event2' event_id=obj.id %}">
                                            Adicionar Logistica
                                        </a>
                                        <a class="button is-success" href=
                                                "{% url 'Evento:submit-logistic' event_id=obj.id %}">
                                            Submeter Logistica
                                        </a>
                                    {% else %}
                                        <br>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="modal" id="confirm-delete-form-modal" data-id="">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Tem a certeza que deseja eliminar
                    este formulário?</p>
                <button class="close-modal delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
            </section>
            <footer class="modal-card-foot">
                <a class="button is-danger confirm" href="#">Eliminar</a>
                <button class="button close-modal">Cancel</button>
            </footer>
        </div>
    </div>

    <script>

        var deleteFormModal = $('#confirm-delete-form-modal');
        $('.delete-form-btn').click(function () {
            deleteFormModal.find('.confirm').attr('href', $(this).data('delete-url')); //passes obj id to modal
            deleteFormModal.addClass('is-active'); //shows modal


        });

        $('.close-modal').click(function () {
            $('.modal').removeClass('is-active');
        });

        function deleteForm(id) {
            deleteFormModal.data(id).hide();
        }


    </script>
{% endblock content %}