{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}
    <div>
        <div class="section">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Meus Eventos</h1>
                </div>
                <a class="button is-success"
                   href="{% url 'Evento:select_type' %}">
        <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
                    <span>Novo Evento</span>
                </a>

            </div>
            <div class="columns is-multiline">
                {% for obj in eventos %}
                    <div class="column is-3">
                        <div class="card" style="min-height: 10px;">
                            <header class="card-header">
                                <p class="card-header-title">
                                    <a href="#">
                                         {{ obj.nome }}
                                    </a>
                                </p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <strong>Descrição: </strong>{{ obj.descricaogeral }}
                                    <br>
                                    <br>
                                    <p><strong>Estado do evento: </strong> {{ obj.estado }}</p>
                                    <br>
                                    <br>
                                    <p><strong>Número máximo de participantes: </strong> {{ obj.maxparticipantes }}</p>
                                    <br>
                                    <br>
                                    <p><strong>Número atual de participantes: </strong> {{ obj.inscritos }}</p>
                                    <br>
                                    <br>


                                    <time datetime="2016-1-1"> <strong>Data Inicial: </strong>
                                        {{ obj.horario.datainicial }}
                                        {{ obj.horario.horainicial }}  </time>
                                    <br>
                                    <time datetime="2016-1-1"> <strong>Data Final: </strong>
                                        {{ obj.horario.datafinal }} {{ obj.horario.horafinal }} </time>
                                    <br>
                                    <br>
                                    {% if obj.estado == 'Logistica Pendente'  %}
                                        <strong>Logisticas:</strong>
                                        {% for obj_l in logistica %}

                                            {% if obj_l.eventoid == obj %}
                                                <br>
                                                 - {{ obj_l.nome }}
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% if obj.estado == 'Validado'  %}
                                        <a href="{% url 'Evento:create-event2' event_id=obj.id %}">
                                             Adicionar Logistica
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <header class="card-header">
                                <p class="card-header-title">
                                    <a href="{% url 'Evento:gerir' event_id=obj.id %}">
                                         Gerir
                                    </a>
                                </p>
                            </header>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <div class="modal" id="confirm-delete-form-modal" data-id="">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Tem a certeza que deseja eliminar
                    este formulário?</p>
                <button class="close-modal delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
            </section>
            <footer class="modal-card-foot">
                <a class="button is-danger confirm" href="#">Eliminar</a>
                <button class="button close-modal">Cancel</button>
            </footer>
        </div>
    </div>

    <script>

        var deleteFormModal = $('#confirm-delete-form-modal');
        $('.delete-form-btn').click(function () {
            deleteFormModal.find('.confirm').attr('href', $(this).data('delete-url')); //passes obj id to modal
            deleteFormModal.addClass('is-active'); //shows modal


        });

        $('.close-modal').click(function () {
            $('.modal').removeClass('is-active');
        });

        function deleteForm(id) {
            deleteFormModal.data(id).hide();
        }


    </script>
{% endblock content %}