{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}

    <div>
        <div class="section">
            <div class="columns is-align-items-center">
                <div class="column">
                    <h1 class="title has-text-centered">{{ evento.nome }}</h1>
                    <h1 class="has-text-centered">Estado do evento: <strong>{{ evento.estado }}</strong> </h1>
                </div>
            </div>
        </div>


        <section class="pedido mt-5">
            <h2 class="sub-title">Dados do evento proposto</h1>
            
            {% for pergunta in perguntas %}
                {% for resposta in respostas %}

                    {% if pergunta.campoid == resposta.campoid %} 
                    <div class="block mt-3">
                        <p class="pergunta">{{pergunta.campoid.conteudo}}</p>
                        <p class="resposta">{{resposta.conteudo}}</p>
                    </div>
                    {% endif %}

                {% endfor %}

            {% endfor %}

        </section>
    </div>

{% endblock content %}