{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}

    <div>
        <div class="section">
            <div class="columns is-align-items-center">
                <div class="column">
                    <div class="img"></div>
                </div>
                <div class="column">
                    <h1 class="title has-text-centered">{{ evento.nome }}</h1>
                    <div class="event-group">
                        <span class="span-header">Descrição:</span>
                        <p class="event-body long-text">{{ evento.descricaogeral }} </p>
                    </div>
                    <div class="event-group">
                        <span class="span-header">Data Inicio:</span>
                        <p class="event-body">{{ data_i }} - {{ hora_i }}</p>
                    </div>
                    <div class="event-group">
                        <span class="span-header">Data Fim:</span>
                        <p class="event-body">{{ data_f }} - {{ hora_f }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}