{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}


{% block page_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bulma.min.css">

{% endblock %}
{% block content %}
    {% load static %}
    <div>
        <section id="subnavbar">
            <nav class="" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a role="button" class="navbar-burger burger"
                       onclick="$('#form-menu-buttons').toggleClass('is-active')">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu is-white" id="form-menu-buttons">
                    <div class="navbar-start">
                        <!-- navbar items on the left side -->
                        <div class="column">
                            <nav class="breadcrumb has-bullet-separator is-medium" aria-label="breadcrumbs">
                                <ul>
                                    <li><a href="{% url 'home' %}">Página inicial</a></li>
                                    <li class="is-active">
                                        <a href="#" aria-current="page">
                                            <span class="has-text-weight-bold">Componentes</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="navbar-end">
                        <!-- navbar items on the right side -->

                        <div class="navbar-item buttons has-tooltip-bottom">
                            <button class="button is-success" id="openModal-newForm">
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
                                <span>Novo</span>
                            </button>
                        </div>
                    </div>

                </div>
            </nav>
            <div class="columns">
                <div class="column">
                    <div class="tabs is-centered is-medium">
                        <ul>
                            <li class="is-active" data-column="1" data-filter="">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-align-justify"
                                                                   aria-hidden="true"></i></span>
                                    <span>Todos</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Empresa">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-toolbox"
                                                                   aria-hidden="true"></i></span>
                                    <span>Empresas</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Edificio">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-home"
                                                                   aria-hidden="true"></i></span>
                                    <span>Edifícios</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Unidade">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-cogs"
                                                                   aria-hidden="true"></i></span>
                                    <span>Unidades Orgânicas</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Universidade">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-cogs"
                                                                   aria-hidden="true"></i></span>
                                    <span>Universidades</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Campus">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-cogs"
                                                                   aria-hidden="true"></i></span>
                                    <span>Campis</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal" id="modal-newForm">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Selecione o tipo de Componente</p>
                    <button class="close-modal delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <article class="panel is-primary" id="tipos-formulario">
                        <a class="panel-block is-active " id="empty" href="{% url 'Recurso:empresa-create' %}">
            <span class="panel-icon ">
              <i class="fas fa-plus has-text-success" aria-hidden="true"></i>
            </span>
                            Empresa
                        </a>
                        <a class="panel-block is-active " id="empty" href="{% url 'Recurso:edificio-create' %}">
            <span class="panel-icon ">
              <i class="fas fa-plus has-text-success" aria-hidden="true"></i>
            </span>
                            Edifício
                        </a>
                        <a class="panel-block is-active " id="empty" href="{% url 'Recurso:unidade-organica-create' %}">
            <span class="panel-icon ">
              <i class="fas fa-plus has-text-success" aria-hidden="true"></i>
            </span>
                            Unidade Orgânica
                        </a>

                        <a class="panel-block is-active " id="empty" href="{% url 'Recurso:universidade-create' %}">
            <span class="panel-icon ">
              <i class="fas fa-plus has-text-success" aria-hidden="true"></i>
            </span>
                            Universidade
                        </a>
                        <a class="panel-block is-active " id="empty" href="{% url 'Recurso:campus-create' %}">
            <span class="panel-icon ">
              <i class="fas fa-plus has-text-success" aria-hidden="true"></i>
            </span>
                            Campus
                        </a>
                    </article>
                </section>

            </div>
        </div>

        <div class="section" id="main-section-content">
            <div class="columns">
                <div class="column ">

                    <table id="form-list-table" class="table is-fullwidth is-striped is-hoverable" style="width:100%">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in object %}
                            <tr class="datatable-row datatable-selector" data-id="{{ obj.id }}">
                                {% if obj.empresaid is not None %}
                                    <td class="td"><b>{{ obj.Nome }}</b></td>
                                    <td class="td">Empresa</td>
                                {% elif obj.edificioid is not None %}
                                    {% if obj.edificioid.campusid is not None %}
                                        <td class="td"><b>{{ obj.Nome }}</b> ({{ obj.edificioid.campusid.Nome }}
                                            - {{ obj.edificioid.campusid.universidadeid.Nome }})
                                        </td>
                                    {% else %}
                                        <td class="td"><b>{{ obj.Nome }}</b></td>
                                    {% endif %}
                                    <td class="td">Edificio</td>
                                {% elif obj.universidadeid is not None %}
                                    <td class="td"><b>{{ obj.Nome }}</b></td>
                                    <td class="td">Universidade</td>
                                {% elif obj.campusid is not None %}
                                    <td class="td"><b>{{ obj.Nome }}</b> ({{ obj.campusid.universidadeid.Nome }})</td>
                                    <td class="td">Campus</td>
                                {% elif obj.unidade_organicaid is not None %}
                                    <td class="td"><b>{{ obj.Nome }}</b>
                                        ({{ obj.unidade_organicaid.universidadeid.Nome }})
                                    </td>
                                    <td class="td">Unidade Orgânica</td>
                                {% endif %}
                                <td>
                                    <button class="button is-white has-text-grey-dark ver_form_config has-tooltip-fade button-edit"
                                            data-id="{{ obj.id }}"
                                            data-tooltip="Editar componente: {{ obj.Nome }}">
                      <span class="icon">
                        <i class="far fa-edit"></i>
                      </span>
                                    </button>
                                    <button class="button is-white has-text-grey-dark ver_form_config has-tooltip-fade delete-form-btn"
                                            data-delete-url="{% url 'Recurso:componente-delete' obj.id %}"
                                            data-tooltip="Eliminar componente: {{ obj.Nome }}">
                      <span class="icon">
                        <i class="far fa-trash-alt"></i>
                      </span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    </div>
    <div class="modal" id="confirm-delete-form-modal" data-id="">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Tem a certeza que deseja eliminar este componente?</p>
                <button class="close-modal delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
            </section>
            <footer class="modal-card-foot">
                <a class="button is-danger confirm" href="#">Eliminar</a>
                <button class="button close-modal">Cancel</button>
            </footer>
        </div>
    </div>


{% endblock content %}

{% block scripts %}

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
    <script>


        var newFormModal = $('#modal-newForm');
        $('#openModal-newForm').click(function () {
            newFormModal.addClass('is-active'); //shows modal
        });


        $('.close-modal').click(function () {
            $('.modal').removeClass('is-active');
        });

        // *************** DELETE ***************
        var deleteFormModal = $('#confirm-delete-form-modal');
        $('.delete-form-btn').click(function (e) {
            e.stopPropagation(); //para a propagacao do evento javascript
            deleteFormModal.find('.confirm').attr('href', $(this).data('delete-url')); //passes obj id to modal
            deleteFormModal.addClass('is-active'); //shows modal
            //todo add warning when deleting templates
        });

        //DATATABLES MANIPULATION
        $(document).ready(function () {
            var table = $('#form-list-table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json"
                },
                "columnDefs": [{"orderable": false, "targets": 2},
                    {
                        "targets": [0],
                        "visible": true
                    }
                ],
            });
            //tabs filters
            let tabs = $('.tabs li')
            tabs.click(function () {
                tabs.removeClass('is-active')
                $(this).addClass('is-active');
                table.column($(this).data('column'))
                    .search($(this).data('filter'))
                    .draw();
            })
        });


        $('.datatable-row').click(function () {
            let url = "{% url 'Recurso:componente-detail' my_id=123  %}"
            location.href = url.replace('123', $(this).data('id'))
        });

        $('#close-message').click(function () {
            let message = $('#close-message').parent().parent();
            message.addClass('is-hidden')
        });

        $('.button-edit').click(function (e) {
            e.stopPropagation();
            let url = "{% url 'Recurso:componente-update' my_id=123  %}"
            location.href = url.replace('123', $(this).data('id'))
        });


    </script>
{% endblock %}