{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}
          <meta http-equiv = "refresh" content = "3; url ={% url 'Recurso:recurso-list' %}" />
    <div>
        <div class="section">
            <div class="columns">
                <div class="column is-is-four-fifths">
                    <h1 class="title">Recurso criado com successo!</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

