{% extends 'app.html' %}


{% block title %}- Criar Empresa{% endblock title %}

{% block content %}
    {% load static %}
    <div>
        {% if messages %}
            {% for message in messages %}
                <article class="message is-warning">
                    <div class="message-header">
                        <p>Erro</p>
                        <button class="close-message delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">
                        {{ message }}
                    </div>
                </article>
            {% endfor %}
        {% endif %}
        <div class="section">
            <div class="columns">
                <div class="column is-is-four-fifths">
                    <h1 class="title">
                        {% if detail %}
                            Editar Empresa
                        {% else %}
                            Criar Empresa
                        {% endif %}
                    </h1>
                    <form class="box" id="form" method="post">
                        {% csrf_token %}

                        <div class="form-group-c">
                            <label class="label" for="nome"> Nome: </label>
                            {{ form.Nome }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Descrição: </label>
                            {{ form.descricao }}
                        </div>


                        <div class="form-group-c">
                            <label class="label" for=""> Email: </label>
                            {{ form.email }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Telefone: </label>
                            {{ form.telefone }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Cidade: </label>
                            {{ form.cidade }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Endereço: </label>
                            {{ form.endereco }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Código Postal: </label>
                            {{ form.codigopostal }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for="">Nº Contribuinte: </label>
                            {{ form.faturacao }}
                        </div>
                        <div class="control">
                            <a class="button is-link" href="{% url 'Recurso:componentes' %}"> Voltar
                                atrás </a>
                            {% if detail %}
                                <input class="button is-primary" type='Submit' value='Guardar'>
                            {% else %}
                                <input class="button is-primary" type='Submit' value='Criar'>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.close-message').click(function () {
            let message = $(this).parent().parent();
            message.addClass('is-hidden')
        });
    </script>
{% endblock content %}

