{% extends 'app.html' %}


{% block title %}- Criar Empresa{% endblock title %}

{% block content %}
    {% load static %}
    <div>
        <div class="section">
            <div class="columns">
                <div class="column is-is-four-fifths">
                    <h1 class="title">
                        {% if detail %}
                            Editar Empresa
                        {% else %}
                            Criar Empresa
                        {% endif %}
                    </h1>
                    <form class="box" id="form" method="post">
                        {% csrf_token %}

                        <div class="form-group-c">
                            <label class="label" for="nome"> Nome: </label>
                            {{ form.nome }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Descrição: </label>
                            {{ form.descricao }}
                        </div>


                        <div class="form-group-c">
                            <label class="label" for=""> Email: </label>
                            {{ form.email }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Telefone: </label>
                            {{ form.telefone }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Cidade: </label>
                            {{ form.cidade }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Endereço: </label>
                            {{ form.endereco }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Código Postal: </label>
                            {{ form.codigopostal }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for="">Nº Contribuinte: </label>
                            {{ form.faturacao }}
                        </div>

                        {% if detail %}
                            <input class="button is-primary" type='Submit' value='Guardar'>
                        {% else %}
                            <input class="button is-primary" type='Submit' value='Criar'>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

