{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}

    <div>
        <div class="section">
            <div class="columns is-align-items-center">
                <div class="column">
                    <h1 class="title has-text-centered">{{ obj.nome }}</h1>
                    <div class="event-group">
                        <span class="span-header">Descrição:</span>
                        <p class="event-body long-text">{{ obj.descricao }} </p>
                    </div>
                    <div class="event-group">
                        <span class="span-header">Unidade Orgânica:</span>
                        {% if obj.unidadeorganicaid is not None %}
                        <p class="event-body long-text">{{ obj.unidadeorganicaid }} </p>
                        {% else %}
                        <p class="event-body long-text">--------</p>
                        {% endif %}
                    </div>
                    <div class="event-group">
                        <span class="span-header">Espaço:</span>
                        {% if obj.espacoid is not None %}
                        <p class="event-body long-text">{{ obj.espacoid }} </p>
                        {% else %}
                        <p class="event-body long-text">--------</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
