{% extends 'app.html' %}


{% block title %}- Criar Equipamento{% endblock title %}

{% block content %}
    {% load static %}
    <div>
        <div class="section">
            <div class="columns">
                <div class="column is-is-four-fifths">
                    <h1 class="title">Criar Equipamento</h1>

                    <form class="box" id="form" method="post">
                        {% csrf_token %}

                        <div class="form-group-c">
                            <label class="label" for=""> Nome: </label>
                            {{ form.nome }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Descrição: </label>
                            {{ form.descricao }}
                        </div>


                        <div class="form-group-c">
                            <label class="label" for=""> Empresa: </label>
                                {{ form2.empresaid }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Unidade Orgnânica: </label>
                            {{ form.unidadeorganicaid }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Espaço: </label>
                            {{ form.espacoid }}
                        </div>

                        <input class="button is-primary" type='Submit' value='Criar'>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

