{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}


{% block page_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bulma.min.css">

{% endblock %}
{% block content %}
    {% load static %}
    <div class="column">
        <nav class="breadcrumb has-bullet-separator is-medium" aria-label="breadcrumbs">
          <ul>
              <li> <a href="{% url 'Evento:eventos-gerir'  %}">Gerir eventos</a> </li>
              
              <li> <a href="{% url 'Evento:meus-eventos'  %}">{{evento.nome}}</a> </li>
              {% if show != 'false' %}
              <li> <a href="{% url 'Evento:view-logistic' evento.id %}">Pedido da logística</a> </li>
              {% endif %}
            <li class="is-active">
              <a href="#" aria-current="page">
                <span class="has-text-weight-bold">
                {% if show == 'false' %}    
                    Recursos
                {% else %}
                    Desatribuir recursos
                {% endif %}
                </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>    

    <div>
        <section id="subnavbar">
            <nav class="" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a role="button" class="navbar-burger burger"
                       onclick="$('#form-menu-buttons').toggleClass('is-active')">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu is-white" id="form-menu-buttons">
                    <div class="navbar-start">
                        <!-- navbar items on the left side -->
                        <div class="column">
                            <nav class="breadcrumb has-bullet-separator is-medium" aria-label="breadcrumbs">
                                <ul>
                                    <li class="is-active">
                                        <a href="#" aria-current="page">
                                            <span class="has-text-weight-bold">Recursos</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>


                </div>
            </nav>
            <div class="columns">
                <div class="column">
                    <div class="tabs is-centered is-medium">
                        <ul>
                            <li class="is-active" data-column="1" data-filter="">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-align-justify"
                                                                   aria-hidden="true"></i></span>
                                    <span>Todos</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Equipamento">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-toolbox"
                                                                   aria-hidden="true"></i></span>
                                    <span>Equipamentos</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Espaço">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-home"
                                                                   aria-hidden="true"></i></span>
                                    <span>Espaços</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Serviço">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-cogs"
                                                                   aria-hidden="true"></i></span>
                                    <span>Serviços</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <div class="section" id="main-section-content">
            <div class="columns">
                <div class="column ">

                    <table id="form-list-table" class="table is-fullwidth is-striped is-hoverable" style="width:100%">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Fonte</th>
                            <th>Empresa</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in object %}
                            <tr class="datatable-row datatable-selector" data-id="{{ obj.id }}">
                                <td class="td">{{ obj.Nome }}</td>
                                {% if obj.espacoid is not None %}
                                    <td class="td"> Espaço</td>
                                {% elif obj.equipamentoid.Nome is not None %}
                                    <td class="td"> Equipamento</td>
                                {% elif obj.servicoid.Nome is not None %}
                                    <td class="td"> Serviço</td>
                                {% endif %}
                                <td class="td"> {{ obj.fonte }}</td>
                                <td class="td"> {{ obj.empresaid }}</td>
                                {% if show != 'false' %}
                                <td>
                                    <a href="#" class="button btn-atribuir"
                                       data-id="{{ obj.id }}">
                                        Cancelar atribuicao

                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>


    </div>



{% endblock content %}

{% block scripts %}

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
    <script>

        //DATATABLES MANIPULATION
        $(document).ready(function () {
            var table = $('#form-list-table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json"
                },
                "columnDefs": [{"orderable": false, "targets": 4},
                    {
                        "targets": [0],
                        "visible": true
                    }
                ],
            });
            //tabs filters
            let tabs = $('.tabs li')
            tabs.click(function () {
                tabs.removeClass('is-active')
                $(this).addClass('is-active');
                table.column($(this).data('column'))
                    .search($(this).data('filter'))
                    .draw();
            })
        });


        $('.datatable-row').click(function () {
            let url = "{% url 'Recurso:recurso-detail' my_id=123  %}"
            location.href = url.replace('123', $(this).data('id'))
        });

        $('#close-message').click(function () {
            let message = $('#close-message').parent().parent();
            message.addClass('is-hidden')
        });


        //Listen to atribuir
        const attrBtns = document.querySelectorAll('.btn-atribuir');
        console.log(attrBtns);

        // *************** DELETE ***************
        var deleteFormModal = $('#confirm-delete-form-modal');
        $('.delete-form-btn').click(function (e) {
            e.stopPropagation(); //para a propagacao do evento javascript
            deleteFormModal.find('.confirm').attr('href', $(this).data('delete-url')); //passes obj id to modal
            deleteFormModal.addClass('is-active'); //shows modal
            //todo add warning when deleting templates
        });


        attrBtns.forEach(btn => {
            btn.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                evento_id = "{{evento.id}}";
                log_id = "{{log_id}}";
                tipo = "{{tipo}}";
                obj_id = e.target.dataset.id;
                let url = "{% url 'Recurso:recurso-atribuir-cancelar' my_id=123 obj_id=456 log=789 tipo=999 %}"
                url = url.replace('456', obj_id)
                url = url.replace('789', log_id)
                url = url.replace('999', tipo)
                location.href = url.replace('123', evento_id)

            })
        })


    </script>
{% endblock %}