{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}


{% block page_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bulma.min.css">

{% endblock %}
{% block content %}
    {% load static %}
    <div>
        <section id="subnavbar">
            <nav class="" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a role="button" class="navbar-burger burger"
                       onclick="$('#form-menu-buttons').toggleClass('is-active')">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu is-white" id="form-menu-buttons">
                    <div class="navbar-start">
                        <!-- navbar items on the left side -->
                        <div class="column">
                            <nav class="breadcrumb has-bullet-separator is-medium" aria-label="breadcrumbs">
                                <ul>
                                    <li><a href="{% url 'home' %}">Página inicial</a></li>
                                    <li class="is-active">
                                        <a href="#" aria-current="page">
                                            <span class="has-text-weight-bold">Recursos</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="navbar-end">
                        <!-- navbar items on the right side -->

                        <div class="navbar-item buttons has-tooltip-bottom">
                            <button class="button is-success" id="openModal-newForm">
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
                                <span>Novo</span>
                            </button>
                        </div>
                    </div>

                </div>
            </nav>
            {% if messages %}
                <article class="message is-success">
                    {% for message in messages %}
                        <div class="message-header">
                            <p>Sucesso</p>
                            <button id="close-message" class="delete" aria-label="delete"></button>
                        </div>
                        <div class="message-body {% if message.tags %} {% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </article>
            {% endif %}
            <div class="columns">
                <div class="column">
                    <div class="tabs is-centered is-medium">
                        <ul>
                            <li class="is-active" data-column="1" data-filter="">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-align-justify"
                                                                   aria-hidden="true"></i></span>
                                    <span>Todos</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Equipamento">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-toolbox"
                                                                   aria-hidden="true"></i></span>
                                    <span>Equipamentos</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Espaço">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-home"
                                                                   aria-hidden="true"></i></span>
                                    <span>Espaços</span>
                                </a>
                            </li>
                            <li data-column="1" data-filter="Serviço">
                                <a>
                                    <span class="icon is-small"><i class="fas fa-cogs"
                                                                   aria-hidden="true"></i></span>
                                    <span>Serviços</span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal" id="modal-newForm">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Selecione o tipo de Recurso</p>
                    <button class="close-modal delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <article class="panel is-primary" id="tipos-formulario">
                        <a class="panel-block is-active " id="empty" href="{% url 'Recurso:equipamento-create' %}">
            <span class="panel-icon ">
              <i class="fas fa-plus has-text-success" aria-hidden="true"></i>
            </span>
                            Equipamentos
                        </a>
                        <a class="panel-block is-active " id="empty" href="{% url 'Recurso:espaco-create' %}">
            <span class="panel-icon ">
              <i class="fas fa-plus has-text-success" aria-hidden="true"></i>
            </span>
                            Espaço
                        </a>
                        <a class="panel-block is-active " id="empty" href="{% url 'Recurso:servico-create' %}">
            <span class="panel-icon ">
              <i class="fas fa-plus has-text-success" aria-hidden="true"></i>
            </span>
                            Serviço
                        </a>
                    </article>
                </section>

            </div>
        </div>

        <div class="section" id="main-section-content">
            <div class="columns">
                <div class="column ">

                    <table id="form-list-table" class="table is-fullwidth is-striped is-hoverable" style="width:100%">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Fonte</th>
                            <th>Empresa</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in object %}
                            <tr class="datatable-row datatable-selector" data-id="{{ obj.id }}">
                                {% if obj.espacoid is not None %}
                                    {% if obj.espacoid.edificioid is not None %}
                                        <td class="td"><b>{{ obj.Nome }}</b> ({{ obj.espacoid.edificioid.Nome }}
                                            - {{ obj.espacoid.edificioid.campusid.Nome }})
                                        </td>
                                    {% else %}
                                        <td class="td"><b>{{ obj.Nome }}</b></td>
                                    {% endif %}
                                    <td class="td"> Espaço</td>
                                {% elif obj.equipamentoid.Nome is not None %}
                                    {% if obj.equipamentoid.espacoid is not None %}
                                        <td class="td"><b>{{ obj.Nome }}</b> ({{ obj.equipamentoid.espacoid.Nome }})
                                        </td>
                                    {% else %}
                                        <td class="td"><b>{{ obj.Nome }}</b></td>
                                    {% endif %}
                                    <td class="td"> Equipamento</td>
                                {% elif obj.servicoid.Nome is not None %}
                                    <td class="td"><b>{{ obj.Nome }}</b></td>
                                    <td class="td"> Serviço</td>
                                {% endif %}
                                <td class="td"> {{ obj.fonte }}</td>
                                {% if obj.empresaid is not None %}
                                    <td class="td"> {{ obj.empresaid }}</td>
                                {% else %}
                                    <td class="td"> --------</td>
                                {% endif %}
                                <td class="td">
                                    <button class="button is-white has-text-grey-dark ver_form_config has-tooltip-bottom button-edit"
                                            data-id="{{ obj.id }}"
                                            data-tooltip="Editar recurso: {{ obj.Nome }}">
                      <span class="icon">
                        <i class="far fa-edit"></i>
                      </span>
                                    </button>
                                    <button class="button is-white has-text-grey-dark ver_form_config has-tooltip-bottom delete-form-btn"
                                            data-delete-url="{% url 'Recurso:recurso-delete' obj.id %}"
                                            data-tooltip="Eliminar recurso: {{ obj.Nome }}">
                      <span class="icon">
                        <i class="far fa-trash-alt"></i>
                      </span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>

    </div>
    <div class="modal" id="confirm-delete-form-modal" data-id="">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Tem a certeza que deseja eliminar este recurso?</p>
                <button class="close-modal delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- Content ... -->
            </section>
            <footer class="modal-card-foot">
                <a class="button is-danger confirm" href="#">Eliminar</a>
                <button class="button close-modal">Cancel</button>
            </footer>
        </div>
    </div>



{% endblock content %}

{% block scripts %}

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
    <script>


        // *************** CREATE FORM ***************


        var newFormModal = $('#modal-newForm');
        $('#openModal-newForm').click(function () {
            newFormModal.addClass('is-active'); //shows modal
        });


        $('.close-modal').click(function () {
            $('.modal').removeClass('is-active');
        });


        //DATATABLES MANIPULATION
        $(document).ready(function () {
            var table = $('#form-list-table').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json"
                },
                "columnDefs": [{"orderable": false, "targets": 4},
                    {
                        "targets": [0],
                        "visible": true
                    }
                ],
            });
            //tabs filters
            let tabs = $('.tabs li')
            tabs.click(function () {
                tabs.removeClass('is-active')
                $(this).addClass('is-active');
                table.column($(this).data('column'))
                    .search($(this).data('filter'))
                    .draw();
            })
        });

        // *************** DELETE ***************
        var deleteFormModal = $('#confirm-delete-form-modal');
        $('.delete-form-btn').click(function (e) {
            e.stopPropagation(); //para a propagacao do evento javascript
            deleteFormModal.find('.confirm').attr('href', $(this).data('delete-url')); //passes obj id to modal
            deleteFormModal.addClass('is-active'); //shows modal
            //todo add warning when deleting templates
        });


        $('.datatable-row').click(function () {
            let url = "{% url 'Recurso:recurso-detail' my_id=123  %}"
            location.href = url.replace('123', $(this).data('id'))
        });

        $('#close-message').click(function () {
            let message = $('#close-message').parent().parent();
            message.addClass('is-hidden')
        });

        $('.button-edit').click(function (e) {
            e.stopPropagation();
            let url = "{% url 'Recurso:recurso-update' my_id=123  %}"
            location.href = url.replace('123', $(this).data('id'))
        });


    </script>
{% endblock %}