{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}

{% block content %}
    {% load static %}

    <div>
        <div class="section">
        <nav class="breadcrumb has-bullet-separator is-medium" aria-label="breadcrumbs">
                        <ul>
                            <li><a href="{% url 'home' %}">Página inicial</a></li>
                            <li><a href="{% url 'Recurso:componentes' %}">Componentes</a></li>
                            <li class="is-active">
                                <a href="#" aria-current="page">
                                            <span class="has-text-weight-bold">
                                                Serviço
                                            </span>
                                </a>
                            </li>
                        </ul>
                    </nav>
            <div class="columns is-align-items-center">
                <div class="column">
                    <h1 class="title has-text-centered">{{ obj.Nome }}</h1>
                    <div class="event-group">
                        <span class="span-header">Descrição:</span>
                        <p class="event-body long-text">{{ obj.Descricao }} </p>
                    </div>
                    <div class="event-group">
                        <span class="span-header">Unidade Orgânica:</span>
                        {% if obj.unidadeorganicaid is not None %}
                            <p class="event-body long-text">{{ obj.unidadeorganicaid }} </p>
                        {% else %}
                            <p class="event-body long-text">--------</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="control">
                <a class="button is-link" href="{% url 'Recurso:recursos' %}"> Voltar
                    atrás </a>
            </div>
        </div>
    </div>

{% endblock content %}
