{% extends 'app.html' %}


{% block title %}- Criar Unidade Orgânica{% endblock title %}

{% block content %}
    {% load static %}
    <div>
        <div class="section">
            <div class="columns">
                <div class="column is-is-four-fifths">
                    <h1 class="title">Criar Unidade Orgânica</h1>

                    <form class="box" id="form" method="post">
                        {% csrf_token %}

                        <div class="form-group-c">
                            <label for="">Nome</label>
                            {{ form.nome }}
                        </div>

                        <div class="form-group-c">
                            <label for="">Descrição</label>
                            {{ form.descricao }}
                        </div>


                        <div class="form-group-c">
                            <label for="">Empresa
                                {{ form2.empresaid }}
                            </label>
                        </div>

                        <div class="form-group-c">
                            <label for="">Unidade Orgnânica</label>
                            {{ form.unidadeorganicaid }}
                        </div>

                        <div class="form-group-c">
                            <label for="">Espaço</label>
                            {{ form.espacoid }}
                        </div>

                        <input type='Submit' value='Save'>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

