{% extends 'app.html' %}


{% block title %}- Criar Universidade{% endblock title %}

{% block content %}
    {% load static %}
    <div>
               <div class="section">
            <div class="column">
                <nav class="breadcrumb has-bullet-separator is-medium" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="{% url 'home' %}">Página inicial</a></li>
                        <li><a href="{% url 'Recurso:componentes' %}">Componentes</a></li>
                        <li class="is-active">
                            <a href="#" aria-current="page">
                                            <span class="has-text-weight-bold">
                                                {% if detail %}
                                                    Editar Universidade
                                                {% else %}
                                                    Criar Universidade
                                                {% endif %}
                                            </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="section">
            <div class="columns">
                <div class="column is-is-four-fifths">
                    <h1 class="title">
                        {% if detail %}
                            Editar Universidade
                        {% else %}
                            Criar Universidade
                        {% endif %}
                    </h1>
                    <form class="box" id="form" method="post">
                        {% csrf_token %}

                        <div class="form-group-c">
                            <label class="label" for=""> Nome: </label>
                            {{ form.Nome }}
                        </div>

                        <div class="form-group-c">
                            <label class="label" for=""> Localização: </label>
                            {{ form.localizacao }}
                        </div>
                         <div class="control ">
                            {% if detail %}
                                <input class="button is-primary" type='Submit' value='Guardar'>
                            {% else %}
                                <input class="button is-primary" type='Submit' value='Criar'>
                            {% endif %}
                        </div>
                    </form>

                    <div class="control">
                        <a class="button is-primary" href="{% url 'Recurso:componentes' %}"> Voltar
                            atrás </a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.close-message').click(function () {
            let message = $(this).parent().parent();
            message.addClass('is-hidden')
        });
    </script>
{% endblock content %}

