{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}

{% block content %}
{% load static %}
<div>
  <div class="section">
    <div class="columns">
      <div class="column is-is-four-fifths">
        <h1 class="title">Inscrição no evento</h1>

        <form class="box" id="form" method="post">
            {% csrf_token %}
            <div class="form-group-c">
                <label> Nome completo </label>
                {{ form.nome }}
            </div>
            <div class="form-group-c">
                <label>Email </label>
                {{ form.email }}
            </div>
            <div class="form-group-c">
            <label> Idade</label>
            {{ form.idade }}
            </div>
            <div class="form-group-c">
            <label> Número de telemóvel </label>
            {{ form.telemovel }}
            </div>
            <div class="form-group-c">
            <label> Profissão </label>
            {{ form.profissao }}
            </div>
            <input type='Submit' value='Save'>    
        </form>    
    </div>
  </div>
 </div>
</div>
{% endblock content%}