{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}

{% block content %}
{% load static %}

          <div class="navbar-menu is-white" id="form-menu-buttons">
        <div class="navbar-start">
          <!-- navbar items on the left side -->
          <div class="column">
            <nav class="breadcrumb has-bullet-separator is-medium" aria-label="breadcrumbs">
              <ul>
                   {% if not fix %}
                  <li><a href="{% url 'Evento:eventos-gerir'  %}">Eventos a gerir</a></li>
                  <li><a href="{% url 'Evento:gerir' event_id=evento.id %}">Gerir evento</a></li>
                  <li><a href="{% url 'Inscricao:prop_list_inscricao' eventoid=evento.id %}">Inscrições do evento</a></li>
                  {% else %}
                    <li><a href="{% url 'Evento:meus-eventos'  %}">Meus eventos</a></li>
                  <li><a href="{% url 'Inscricao:prop_list_inscricao' eventoid=evento.id %}">Inscrições do evento</a></li>
                  {% endif %}
                <li class="is-active">
                  <a href="#" aria-current="page">
                    <span class="has-text-weight-bold">Consultar inscrição</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>



<div>
  <div class="section">
    <div class="columns">
      <div class="column is-is-four-fifths">

                <div>
            <div class="section">
                <div class="columns is-align-items-center">
                    <div class="column">
                        <div class="img"></div>
                    </div>
                    <div class="column">
                        <h1 class="title has-text-centered"> Dados gerais da inscrição</h1>
                        {% for resposta in inscricao %}
                        <div class="event-group">
                            <span class="span-header">{{ resposta.campoid.conteudo }}</span>
                                <p class="event-body ">
                                    {% if resposta.conteudo|length == 0  %}Answer is empty.
                                {% elif resposta.campoid.id == 28 %} {% if  resposta.conteudo == "0" %} Check-in não confirmado. {% else %} Check-in confirmado. {% endif %}
                                {% else %} {{ resposta.conteudo }}  {% endif %}</p>
                        </div>
                          {% endfor %}

                    </div>
                </div>
            </div>
        </div>


            <div class="control">
                {% if not fix %}
                <a class="button is-link" href="{% url 'Inscricao:prop_list_inscricao' eventoid=evento.id %}"> Voltar atrás </a>
                {% else %}
                <a class="button is-link" href="{% url 'Inscricao:prop_list_inscricao_FIX' eventoid=evento.id %}"> Voltar atrás </a>

                {% endif %}
            </div>


    </div>
  </div>
 </div>
</div>
{% endblock content%}