{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}

{% block content %}
{% load static %}
<div>
  <div class="section">
    <div class="columns">
      <div class="column is-is-four-fifths">
        <h1 class="title">Dados das inscrição</h1>

            {% for resposta in inscricao %}
                <article class="message">
                  <div class="message-header">
                    <p>{{ resposta.campoid.conteudo }}</p>
                  </div>
                  <div class="message-body">
                    {% if resposta.conteudo|length == 0  %} Answer is empty.
                    {% elif resposta.campoid.id == 20 %} {% if  resposta.conteudo == "0" %} Check-in não confirmado. {% else %} Check-in confirmado. {% endif %}
                    {% else %} {{ resposta.conteudo }}  {% endif %}
                  </div>
                </article>
            {% endfor %}


            <div class="control">
                <a class="button is-link" href="{% url 'Inscricao:part_list_inscricao' %}"> Voltar atrás </a>
            </div>


    </div>
  </div>
 </div>
</div>
{% endblock content%}