{% extends 'app.html' %}


{% block title %}- Página Inicial{% endblock title %}

{% block content %}
{% load static %}
<div class="section statistic">
  <h1 class="title">Estatísticas do feedback</h1>
  <div class="columns is-multiline">
    
    {% for pergunta in perguntas %}
    {% if forloop.counter0|divisibleby:"4" %}
    <div class="column stat-item mt-3">

      <h1 class="stat-questions"> {{ pergunta.conteudo }} </h1>
        <div id="container" style="width: 20%; color: white !important;">
          <canvas class="canvas" id="{{ pergunta.id }}"></canvas>
      </div>

    </div>
    {% else %}
    <div class="column stat-item mt-3">

      
      <div id="container" style="width: 20%; color: white !important;">
          <canvas class="canvas" id="{{ pergunta.id }}"></canvas>
          </div>
      <h1 class="stat-questions"> {{ pergunta.conteudo }} </h1>
    </div>
    {% endif %}
    {% endfor %}
    
  </div>
</div>

























      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


    <script>

    const CHART_COLORS = {
  red: 'rgb(255, 99, 132)',
  orange: 'rgb(255, 159, 64)',
  yellow: 'rgb(255, 205, 86)',
  green: 'rgb(75, 192, 192)',
  blue: 'rgb(54, 162, 235)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
};

    let configObj  = {};
    let i = 0 ;


    let functionObj = {};

    let config;

        let k = 0;
    {% for labels,data,pergunta in QAA %}

    config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
         backgroundColor: Object.values(CHART_COLORS),
          label: 'Population',
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true,
        legend: {
                labels: {
                    fontColor: "white",
                    fontSize: 14
                }
            },

      }
    };

    configObj[`config${i}`] = config;




    functionObj[`function${i}`]  = function() {
        let ctx = document.getElementById({{pergunta.id}}).getContext('2d');
        window.myPie = new Chart(ctx, configObj[`config${k}`]);
        k++;

    };

    i++;

    {% endfor %}




    window.onload = function() {
        for(let j = 0; j < i; j++)
        {
         let pfunction = functionObj[`function${j}`];
         pfunction();
        }
    };



    </script>




{% endblock content%}