{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}


{% block page_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bulma.min.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
{% endblock %}
{% block content %}
{% load static %}
<div>

  <div class="section" id="main-section-content">
    <div class="columns">
      <div class="column ">

        <table id="form-list-table" class="table is-fullwidth is-striped is-hoverable" style="width:100%">
          <thead>
            <tr>
              <th>Evento</th>
              <th>Descrição geral</th>
              <th>Data de realização</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
            <tr class="datatable-row datatable-selector" data-id="{{obj.pk}}">
              <td>{{obj.estado}}</td>
              <td>{{obj.eventoid.nome}}</td>
              <td> {{obj.nome}}</td>
              <td> {{obj.email}}</td>
              <td> {{obj.telemovel}}</td>
              <td> {{obj.idade}}</td>
              <td> {{obj.profissao}}</td>

              <td>
                    <button class="button is-text has-text-grey ver_form_config has-tooltip-bottom update-ins-btn"  data-update-url="{% url 'Inscricao:part_alterar_inscricao' obj.pk %}" data-tooltip="Alterar Inscrição: {{obj.nome}}">
                      <span class="icon">
                        <i class="far fa-edit" ></i>
                      </span>
                    </button>
                    <button class="button is-text has-text-grey ver_form_config has-tooltip-bottom delete-ins-btn"  data-delete-url="{% url 'Inscricao:part_delete_inscricao' obj.pk %}" data-tooltip="Eliminar Inscrição: {{obj.nome}}">
                      <span class="icon">
                        <i class="far fa-trash-alt"></i>
                      </span>
                    </button>
                    <button class="button is-text has-text-grey ver_form_config has-tooltip-bottom delete-ins-btn"  data-delete-url="{% url 'Inscricao:part_delete_inscricao' obj.pk %}" data-tooltip="Enviar feedback: {{obj.nome}}">
                      <span class="icon">
                        <i class="fa fa-bullhorn"></i>
                      </span>
                    </button>

              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>


</div>

</div>
<div class="modal" id="confirm-delete-form-modal" data-id="">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Tem a certeza que deseja eliminar esta inscrição ?</p>
      <button class="close-modal delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <a class="button is-danger confirm" href="#">Eliminar</a>
      <button class="button close-modal">Cancelar</button>
    </footer>
  </div>
</div>

{% endblock content%}

{% block scripts %}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
<script>

  $('.dropdown').click(function () {
    $(this).toggleClass('is-active')
  });

  // ************ UPDATE INSCRICAO ******************8

  var updateInsBitton = $('.update-ins-btn');
updateInsBitton.click(function (e) {
    e.stopPropagation();
    console.log("I did something");
    location.href= $(this).data('update-url');
});




  // *************** DELETE INCRICAO ***************
  var deleteFormModal = $('#confirm-delete-form-modal');
  $('.delete-ins-btn').click(function (e) {
    e.stopPropagation(); //para a propagacao do evento javascript 
    deleteFormModal.find('.confirm').attr('href', $(this).data('delete-url')); //passes obj id to modal
    deleteFormModal.addClass('is-active'); //shows modal
    //todo add warning when deleting templates
  });

  $('.close-modal').click(function () {
    $('.modal').removeClass('is-active');
  });


//DATATABLES MANIPULATION
  $(document).ready(function () {
  var table = $('#form-list-table').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json"
      },
      "columnDefs": [ { "orderable": false, "targets": 7 },
      {
                "targets": [ 0 ],
                "visible": false
            }
    ],      
    });
    //tabs filters
    let tabs = $('.tabs li')
    tabs.click(function(){
      tabs.removeClass('is-active')
      $(this).addClass('is-active');
      console.log(table.column($(this).data('column')).search($(this).data('filter')).draw())
      table.column($(this).data('column'))
        .search($(this).data('filter'))
        .draw();
    })
  });



  $('.datatable-row').click(function () {
    let url = "{% url 'Inscricao:consultar_inscricao_part' inscricaoid=123  %}"
    location.href= url.replace('123',  $(this).data('id'))
  });


</script>
{% endblock %}