{% extends 'app.html' %}

{% block title %}- Página Inicial{% endblock title %}


{% block page_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bulma.min.css">

{% endblock %}
{% block content %}
{% load static %}
<div>
  <section class="form-menu">

    <div class="columns is-mobile">
      <div class="column">
        <nav class="breadcrumb has-bullet-separator is-medium" aria-label="breadcrumbs">
          <ul>
            <li class="is-active">
              <a href="#" aria-current="page">
                <span class="has-text-weight-bold">Formulários</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="column">
        <div class="buttons is-pulled-right">
          <button class="button is-success" id="openModal-newForm">
            <span class="icon">
              <i class="fas fa-plus"></i>
            </span>
            <span>Novo</span>
          </button>

        </div>
      </div>
    </div>

    <!--Novo Formulario Modal-->
  </section>
  <div class="modal" id="modal-newForm">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Selecione o tipo de Formulário</p>
        <button class="close-modal delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <article class="panel is-primary" id="tipos-formulario">
          <p class="panel-tabs">
            <a class="tipoFormulario is-active" data-id="all" data-tipo="0" onclick="filterCategory($(this))">Todos</a>
            {% for tipoFormulario in categorias %}
            <a class="tipoFormulario" data-id="{{tipoFormulario.categoria.0}}" data-tipo="{{tipoFormulario.id}}"
              onclick="filterCategory($(this))">{{tipoFormulario.nome}}</a>
            {% endfor %}
          </p>

          <div class="panel-block search">
            <p class="control has-icons-left">
              <input class="input is-primary" id="search-by-name" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <a class="panel-block is-active " id="empty" href="{% url 'create-form' 0 0 %}">
            <span class="panel-icon ">
              <i class="fas fa-plus has-text-success" aria-hidden="true"></i>
            </span>
            Em branco
          </a>
          {% for templateFormulario in tiposForm %}
          <a class="panel-block is-active category"
            href="{% url 'create-form' templateFormulario.id  templateFormulario.tipoformularioid.id %}"
            id="subtipo-form{{templateFormulario.tipoformularioid.categoria}}"
            data-subtipo="{{templateFormulario.tipoformularioid.categoria}}" data-search="{{templateFormulario.nome}}">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            {{templateFormulario.nome}}
          </a>
          {% endfor %}
        </article>
      </section>

    </div>
  </div>


  <div class="section">
    <div class="columns">
      <div class="column ">

        <table id="example" class="table is-fullwidth is-striped is-hoverable" style="width:100%">
          <thead>
            <tr>
              <th>Formulários por título</th>
              <th>Última modificação</th>
              <th>Visibilidade</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
            <tr class="datatable-row datatable-selector" data-id="{{obj.pk}}">
              <td>{{obj.nome}}</td>

              {% if obj.updated %}
              <td>{{obj.updated |date:'d-m-Y' }}</td>
              {% else %}
              <td>{{obj.created |date:'d-m-Y'}}</td>
              {% endif %}

              <td>{{obj.get_visibilidade_display}}</td>
              <td>
                <div class="dropdown">
                  <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                      <span>Click me</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                    <div class="dropdown-content">
                      <a href="#" class="dropdown-item">
                        Overview
                      </a>
                      <a href="#" class="dropdown-item">
                        Modifiers
                      </a>                     
                    </div>
                  </div>
                </div>


              </td>
            </tr>
            {% endfor %}
          </tbody>

        </table>



      </div>
      <div class="column is-3">
        <nav class="panel">
          <p class="panel-heading">
            Repositories
          </p>
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
          <p class="panel-tabs">
            <a class="is-active">All</a>
            <a>Public</a>
            <a>Private</a>
            <a>Sources</a>
            <a>Forks</a>
          </p>
          <a class="panel-block is-active">
            <span class="panel-icon">
              <i class="fas fa-book" aria-hidden="true"></i>
            </span>
            bulma
          </a>
          <label class="panel-block">
            <input type="checkbox">
            remember me
          </label>
          <div class="panel-block">
            <button class="button is-link is-outlined is-fullwidth">
              Reset all filters
            </button>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="columns is-multiline">
    {% for obj in object_list %}
    <div class="column is-3">
      <div class="card" style="min-height: 10px;">
        <header class="card-header">
          <p class="card-header-title">
            {{obj.nome}}
          </p>
          <button class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </header>
        <div class="card-content">
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
        <footer class="card-footer">
          <a href="{% url 'edit-form' obj.pk  %}" class="card-footer-item">Editar</a>
          <a href="#" class="card-footer-item delete-form-btn"
            data-delete-url="{% url 'delete-form' obj.pk %}">Delete</a>
        </footer>
      </div>
    </div>
    {% endfor %}
  </div>


</div>

</div>
<div class="modal" id="confirm-delete-form-modal" data-id="">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Tem a certeza que deseja eliminar este formulário?</p>
      <button class="close-modal delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <a class="button is-danger confirm" href="#">Eliminar</a>
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>



<script>

  $('.dropdown').click(function () {
    $(this).toggleClass('is-active')
  });

  // 
  function filtrarPorAttr(queryset, dataKey, dataValue) {
    return queryset.filter(
      (i, obj) => $(obj).data(dataKey) == dataValue ? $(obj) : null
    );
  }

  function filtrarValueInAttr(queryset, dataKey, dataValue) {
    return queryset.filter(
      (i, obj) => String($(obj).data(dataKey)).toLowerCase().includes(dataValue) ? $(obj) : null
    );
  }

  // *************** CREATE FORM ***************


  var newFormModal = $('#modal-newForm');
  $('#openModal-newForm').click(function () {
    newFormModal.addClass('is-active'); //shows modal
  });


  function filterCategory(category) {
    // <a class="panel-block is-active" href="{% url 'create-form' 0 0 %}">

    //Alterar empty form creation
    var url = "{% url 'create-form' 0 0 %}"
    url = url.slice(0, -1) + category.data('tipo')
    console.log(url)
    $('.panel-block#empty').attr("href", url)

    //FILTER STUFF
    var tiposCampo = $('#tipos-formulario .panel-block.category').not('.search');

    $('.tipoFormulario').removeClass('is-active');
    if (category.data('id') != 'all') {
      tiposCampo.addClass('is-hidden');
      var tiposCampoFiltrados = filtrarPorAttr(tiposCampo, 'subtipo', category.data('id'));
      tiposCampoFiltrados.removeClass('is-hidden');
    }
    else {
      tiposCampo.removeClass('is-hidden');
    }
    category.addClass('is-active');
  }

  // SEARCH BY NAME 
  $('.search #search-by-name').keyup(function () {
    var active_category = $('.tipoFormulario.is-active');

    var tiposCampo = $('#tipos-formulario .panel-block.category').not('.search');
    var tiposCampoFiltrados1 = tiposCampo;
    //filtrar primeiro outra vez por categoria
    if (active_category.data('id') != 'all') {
      tiposCampoFiltrados1 = filtrarPorAttr(tiposCampo, 'subtipo', active_category.data('id'));
    }
    tiposCampoFiltrados1.addClass('is-hidden');
    var tiposCampoFiltrados = filtrarValueInAttr(tiposCampoFiltrados1, 'search', $(this).val().toLowerCase());
    tiposCampoFiltrados.removeClass('is-hidden');

  }
  )

  // *************** DELETE FORM ***************
  var deleteFormModal = $('#confirm-delete-form-modal');
  $('.delete-form-btn').click(function () {
    deleteFormModal.find('.confirm').attr('href', $(this).data('delete-url')); //passes obj id to modal
    deleteFormModal.addClass('is-active'); //shows modal
    //todo add warning when deleting templates
  });

  $('.close-modal').click(function () {
    $('.modal').removeClass('is-active');
  });

  function deleteForm(id) {
    deleteFormModal.data(id).hide();
  }


//DATATABLES MANIPULATION
  $(document).ready(function () {
    $('#example').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.24/i18n/Portuguese.json"
      }
    });
  });



  $('.datatable-row').click(function () {
     let url = "{% url 'edit-form' pk=123  %}" 
     location.href= url.replace('123',  $(this).data('id'))
  });

</script>
{% endblock content%}

{% block scripts %}

<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bulma.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-accordion@2.0.1/dist/js/bulma-accordion.min.js"></script>
{% endblock %}